@import 'tailwindcss';

@theme {
  --color-background: white;
  --color-background-alt: var(--color-neutral-200);
  --color-foreground-muted: var(--color-neutral-600);
  --color-upvote: var(--color-green-500);
  --color-downvote: var(--color-red-500);
  --color-surface: var(--color-white);
  --color-foreground: var(--color-neutral-800);
  --color-special: var(--color-sky-400);
  --color-special-muted: var(--color-sky-500);
  --color-muted: var(--color-neutral-400);
  --color-error: var(--color-red-700);
  --color-important: var(--color-yellow-500);
  --color-success-foreground: var(--color-green-800);
  --color-success-background: var(--color-green-200);

  --font-main: Lato, var(--font-sans);
}

@layer base {
  * {
    @apply transition-colors;
  }

  html,
  body {
    @apply h-full;
  }

  body {
    @apply bg-background text-foreground font-mono antialiased scheme-light;
  }

  button,
  a {
    @apply enabled:cursor-pointer;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-background: black;
      --color-background-alt: var(--color-neutral-900);
      --color-foreground: white;
      --color-foreground-muted: var(--color-neutral-400);
      --color-surface: var(--color-neutral-900);
      --color-special: var(--color-sky-400);
      --color-special-muted: var(--color-sky-500);
      --color-muted: var(--color-neutral-700);
      --color-error: var(--color-red-300);
      --color-important: var(--color-yellow-200);
      --color-success-foreground: var(--color-green-200);
      --color-success-background: var(--color-green-950);
    }

    body {
      @apply scheme-dark;
    }
  }
}

@utility form-input {
  @apply focus:border-special border-muted disabled:bg-muted/20 disabled:text-foreground-muted rounded border p-2 px-3 transition-colors focus:outline-none;
}

@utility button {
  @apply rounded-full px-6 py-2 text-center font-semibold disabled:brightness-50;
}

@utility button-special {
  @apply button bg-special enabled:hover:bg-special-muted;
}

@utility button-normal {
  @apply button bg-foreground text-background transition-[filter] enabled:hover:brightness-80;
}

@utility button-outline {
  @apply button border-foreground hover:bg-foreground hover:text-background border;
}

@utility button-error {
  @apply button hover:text-background border-error text-error hover:bg-error border;
}
