@import 'tailwindcss';

@theme {
  --color-background: white;
  --color-background-alt: var(--color-neutral-200);
  --color-foreground-muted: var(--color-neutral-600);
  --color-upvote: var(--color-green-500);
  --color-downvote: var(--color-red-500);
  --color-surface: var(--color-white);
  --color-foreground: var(--color-neutral-800);
  --color-special: var(--color-sky-400);
  --color-special-muted: var(--color-sky-500);
  --color-muted: var(--color-neutral-500);

  --font-main: Lato, var(--font-sans);
}

@layer base {
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-main);
  }

  #root {
    display: contents;
  }

  * {
    @apply transition-colors;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-background: black;
      --color-background-alt: var(--color-neutral-900);
      --color-foreground: white;
      --color-foreground-muted: var(--color-neutral-400);
      --color-surface: var(--color-neutral-900);
      --color-special: var(--color-sky-400);
      --color-special-muted: var(--color-sky-500);
      --color-muted: var(--color-neutral-400);
    }
  }
}
